doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="icon" href="/favicon.ico")
    link(rel="stylesheet" href="/styles.css")
  body(class=`theme-${theme}`)
    header.container
      h1= title
      nav.nav
        a(href="/") Home
        a(href="/users") Users
        a(href="/articles") Articles
        a(href="/protected") Protected
        a(href="/auth") Auth
        a(href="/theme/set?theme=dark") Dark
        a(href="/theme/set?theme=light") Light

    main.container
      if user
        h2.card-title= user.name
        div.card
          p
            strong ID:
            |  #{user.id}
          p
            strong Email:
            |  #{user.email}
      else
        div.card
          p User with ID "#{userId}" was not found.

      p
        a.button(href="/users") Back to users

    footer.container.footer
      p Rendered with PUG
